.container {
  display: grid;
  gap: 16px; /* Расстояние между элементами */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}
@media (min-width: 1400px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    margin: 0 auto;
  }
}
/* Добавьте медиа-запросы для мобильных */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
  }
}
